name: Build And Deploy

on:
    push:
        branches: ['master']
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Setup NodeJS
              uses: actions/setup-node@v3
              with:
                  node-version: 18

            - name: Install & Build
              run: |
                  npm install yarn
                  yarn install
                  yarn build

            - name: Upload Build Artifact
              uses: actions/upload-artifact@v3.1.0
              with:
                  name: build-artifact
                  path: |
                      dist
                      nest-cli.json
                      package.json
                  retention-days: 1

    deploy:
        needs:
            - build
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Download Artifact
              uses: actions/download-artifact@v3
              with:
                  name: build-artifact

            - name: SCP to EC2 Server
              uses: appleboy/scp-action@v0.1.3
              with:
                  host: ${{ secrets.SSH_HOST }}
                  username: ${{ secrets.SSH_USERNAME }}
                  key: ${{ secrets.SSH_KEY }}
                  port: ${{ secrets.SSH_PORT }}
                  src: 'dist, nest-cli.json, package.json'
                  target: '/home/${{ secrets.SSH_USERNAME }}/baolocre_apis_dev_test'
